<% if counselor_signed_in? %>

<p><%= current_counselor.full_name %></p>
<ul class="nav nav-sidebar">
	<li class="active">
		<%= link_to "Dashboard", profile_counselor_path(current_counselor) %>
	</li>
	<li>
		<%= link_to "Réglages", edit_counselor_path(current_counselor) %>
	</li>
	<li>
		<%= link_to "Votre profil public", counselor_path(current_counselor) %>
	</li>
	
</ul>
<ul class="nav nav-sidebar">
	<li>
		<%= link_to "Liste des étudiants",  students_path %>
	</li>
	<li>
		<%= link_to "Mes rendez vous",  counselor_appointments_path(current_counselor.id) %>
		<span><%= current_counselor.appointments.count %></span>
	</li>
	<li><%= link_to "Mes disponibilités", availability_path %></li>

	<li>
	<%= link_to "Ensemble de vos cards remplies ", cards_counselor_path(current_counselor) %>
	<span><%= current_counselor.cards.count %></span>
	</li> 
	<li>
		<%= link_to "Liste des écoles",  schools_path %>
	</li>
</ul>
<ul class="nav nav-sidebar">
	<li>
		<%= link_to "Se deconnecter", destroy_counselor_session_path, :method => :delete %>
	</li>
</ul>

<% elsif administrator_signed_in? %>

<p><%= current_administrator.email %></p>
<ul class="nav nav-sidebar">
	<li class="active">
		<%= link_to "Dashboard",  dashboard_administrator_path(current_administrator) %>
	</li>
	
</ul>
<ul class="nav nav-sidebar">
	<li>
		<%= link_to "Liste des étudiants",  students_path %>
	</li>
	<li>
		<%= link_to "Liste des Conseillers",  counselors_path %>
	</li>
	<li>
		<%= link_to "Ensemble des cards", cards_path %>
	</li>
	<li>
		<%= link_to "Liste des écoles",  schools_path %>
	</li>
	<li>
		<%= link_to "Liste des tags",  tags_path %>
	</li>
	<li>
		<%= link_to "Liste des Métiers",  jobs_path %>
	</li>
</ul>
<ul class="nav nav-sidebar">
	<li>
		<%= link_to "Se deconnecter", destroy_administrator_session_path, :method => :delete %>
	</li>
</ul>

<% elsif representative_signed_in? %>

<ul class="nav nav-sidebar">
  <li>
		<%# link_to "Dashboard",  representatives_dashboard_path %>
	</li>

	<li>
		<%= link_to "Mes écoles",  "#" %>
	</li>
	<li>
		<%= link_to "Mes leads", "#" %>
	</li>

	<li>
		<%= link_to "Mon profil", "#" %>
	</li>
	<li>
		<%= link_to "Se deconnecter", "#", :method => :delete %>
	</li>
</ul>


<% end %>
