<header class="header">
	<div class="container">
		<div class="profile-content pull-left">
			<h1 class="name">Espace Conseillers: Inscription</h1>
			<h2 class="desc">Devenez un conseiller pour Study Counselor</h2>

		</div><!--//profile-->

	</div><!--//container-->
</header><!--//header-->

<div class="container sections-wrapper">
	<div class="row">
		<div class="primary col-md-8 col-sm-12 col-xs-12">
			<section class="about section">
				<div class="section-inner">

					<h2>S'inscrire</h2>

					<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
					<%= devise_error_messages! %>

					<div class="form-group">
						<%= f.label :image_url, "Photo du conseiller" %>
						<br>
						<%= f.file_field :image_url, class: "form-control"  %>

					</div>

					<div class="form-group">
									<%= f.label :email, "Votre email" %>
						<br />
						<%= f.email_field :email, autofocus: true, :class => "form-control", :required => true,   :placeholder => 'Entrez votre email' %>
					</div>

					<div class="form-group">
						<%= f.label :first_name, "Votre prénom:" %>
						<br>
						<%= f.text_field :first_name, :class => "form-control", :required => true, :placeholder => 'Entrez votre prénom' %>
					</div>
					<div class="form-group">
						<%= f.label :last_name, "Votre nom:" %>
						<br>
						<%= f.text_field :last_name, :class => "form-control", :required => true, :placeholder => 'Entrez votre nom' %>
					</div>
					<div class="form-group">
						<%= f.label :birthdate, "Votre date de naissance:" %>
						<br>
						<%= f.date_select :birthdate, :start_year => 1985, :end_year => 1998, :required => true, :class => "form-control" %>
					</div>
					
					<div class="form-group">
						<%= f.label :telephone, "Votre portable:" %>
						<br>
						<%= f.text_field :telephone, :class => "form-control", :placeholder => 'Entrez votre numéro de téléphone', :required => true %>
					</div>

					<div class="form-group">
						<%= f.label :moto, "Ma devise" %>
						<br>
						<%= f.text_field :moto , :class => "form-control",  :placeholder => 'Quelle est votre devise' %>
					</div>

					<div class="form-group">
						<%= f.label :address, "Votre adresse" %>
						<br>
						<%= f.text_area :address, :class => "form-control" ,  :placeholder => 'Où vous habitez ?' , :required => true %>
					</div>
					
					<div class="form-group">
						<%= f.label :general_description, "Description générale:" %>
						<br>
						<%= f.text_area :general_description, :class => "form-control summernote" %>
					</div>
	
					<div class="form-group">
						<%= f.label :high_school, "Lycée" %>
						<br>
						<%= f.text_field :high_school , :class => "form-control", :placeholder => 'Le nom de votre lycée' %>
					</div>

					<div class="form-group">
						<%= f.label :bac_type, "Bac" %>
						<br>
						<%= f.select :bac_type, $BAC_TYPE, :class => "form-control", :required => true %>
					</div>


					<div class="form-group">
						<%= f.label :etablissement, "Votre établissement actuel" %>
						<br>
						<%= f.text_field :etablissement, :class => "form-control", :required => true %>
					</div>



					<div class="form-group">
						<%= f.label :bac_mention, "Mention au bac" %>
						<br>
						<%= f.select :bac_mention, $BAC_MENTIONS , :class => "form-control", :required => true %>
					</div>


					<div class="form-group">
						<%= f.label :study_level, "Niveau d'études" %>
						<br>
						<%= f.select :study_level, $STUDY_LEVEL , :class => "form-control", :required => true %>
					</div>

					<div class="form-group">
						<%= f.label :study_domain, "Domaine d'études" %>
						<br>
						<%= f.select :study_domain, $STUDY_DOMAINS , :class => "form-control", :required => true %>
					</div>
	
					<div class="form-group">
						<%= f.label :job_target, "Poste visé"  %>
						<br>
						<%= f.text_field :job_target , :placeholder => "Quel est le poste que je souhaite atteindre", :class =>"input-group" %>
					</div>

				
					<div class="form-group">
						<%= f.label :school_description, "Qui j'étais en terminale ?" %>
						<br>
						<%= f.text_area :school_description , :class => "form-control summernote" %>
					</div>
					
					
					<div class="form-group">
						<%= f.label :jobs_description, "Mon parcours académique jusqu'içi:"  %>
						<br>
						<%= f.text_area :jobs_description , :class => "form-control summernote" %>
					</div>
					
					
					<div class="form-group">
						<%= f.label :availibility_description, "Ce à quoi je me destine:" %>
						<br>
						<%= f.text_area :availibility_description, :class => "form-control summernote" %>
					</div>

					<div class="form-group">
						<h5>Vos disponibilités:</h5>
						<%= f.label :lundi %>	
					    <%= $HOURS.each do |hour| %>
											<%= check_box_tag 'lundi[]', hour %>
							<% end %>
						<br>

						<%= f.label :mardi %>	
					    <%= $HOURS.each do |hour| %>
											<%= check_box_tag 'mardi[]', hour %>
							<% end %>
						<br>
						<%= f.label :mercredi %>	
					    <%= $HOURS.each do |hour| %>
											<%= check_box_tag 'mercredi[]', hour %>
							<% end %>
						<br>
						<%= f.label :jeudi %>	
					    <%= $HOURS.each do |hour| %>
											<%= check_box_tag 'jeudi[]', hour %>
							<% end %>
						<br>

						<%= f.label :vendredi %>	
					    <%= $HOURS.each do |hour| %>
											<%= check_box_tag 'vendredi[]', hour %>
							<% end %>
						<br>
						<%= f.label :samedi %>	
					    <%= $HOURS.each do |hour| %>
											<%= check_box_tag 'samedi[]', hour %>
							<% end %>
						<br>

						<%= f.label :dimanche %>	
					    <%= $HOURS.each do |hour| %>
											<%= check_box_tag 'dimanche[]', hour %>
							<% end %>
						<br>

					</div>
					<div class="form-group">
						<%= f.label :password %>
						<br />
						<%= f.password_field :password, autocomplete: "off", :class => "form-control", :required => true %>
					</div>

					<div class="form-group">
						<%= f.label :password_confirmation %>
						<br />
						<%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :required => true %>
					</div>

					<div class="form-group">
						<%= f.submit "S'inscrire", class: "btn btn-success btn-lg" %>
					</div>
					<% end %>

					<%= render "counselors/shared/links" %>
				</div>
			</section>
		</div>
		<div class="secondary col-md-4 col-sm-12 col-xs-12">
			<aside class="info aside section">
				<div class="section-inner">
					<h2 class="heading">Informations</h2>
					<div class="content">
						<p>
							Une fois toutes les informations remplies, votre dossier sera revu par l'équipe de Study Counselor qui validera votre candidature.
						</p>
					</div><!--//content-->
				</div><!--//section-inner-->
			</aside><!--//aside-->
		</div>
	</div>
</div>
<div class="row">
				<%= render 'home/testimonies_carrousel' %>
</div>
<div class="row studyquizz-theme">
				<%= render 'home/press_marketing' %>
</div>


<script>
	$(function() {
    var etablissements = <%= Etablissement.all_etablissement_name %> ;   

		$('#counselor_etablissement').autocomplete({
      source: etablissements
		});
		
		$('.summernote').summernote({
			height : 300, // set editor height

			minHeight : null, // set minimum height of editor
			maxHeight : null // set maximum height of editor

		});

	})
</script>

