<div class="counselor-card bg-white text-left">

	<div class="col-xs-4 col-md-3">
		<%= image_tag "counselor.jpg", class: "img-circle", style: "width: 120px; height: 120px;"%>
    <p><%= counselor.general_description %></p>
		<div class="text-center text-15 studyquizz-blockquote">
			"Vers l'infini et au dela"
		</div>

		<hr class="counselor-hr">
	</div>

	<div class="col-md-3">
		<p><%= counselor.general_description %></p>
	</div>

	<div class="col-md-6">
		<p><%= counselor.general_description %></p>
	</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
		<%= link_to "Chatter",  counselor, class: "btn btn-green btn-block text-uppercase"%>

	</div>
	<div class="col-sm-6">
		<%= link_to "Rendez-vous",  new_counselor_appointment_path(counselor.id), class: "btn btn-orange btn-block text-uppercase"%>
	</div>
	
	</div>

</div>
