<%= form_for(@counselor) do |f| %>
<% if @counselor.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@counselor.errors.count, "error") %> prohibited this counselor from being saved:</h2>

	<ul>
		<% @counselor.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<section class="about section">
	<div class="section-inner">

		<h2 class="page-header"> Information basiques</h2>
		<div class="form-group">
			<%= f.label :first_name, "Prénom" %>
			<br>
			<%= f.text_field :first_name, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :last_name, "Nom de famille" %>
			<br>
			<%= f.text_field :last_name, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :birthdate, "Date de naissance" %>
			<br>
			<%= f.date_select :birthdate, class: "form-control", start_year: 1985, end_year: 1998 %>
		</div>
		<div class="form-group">
			<%= f.label :email, "Email" %>
			<br>
			<%= f.text_field :email, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :telephone, "Téléphone" %>
			<br>
			<%= f.text_field :telephone, class: "form-control" %>
		</div>


		<div class="form-group">

			<h5>Vos disponibilités:</h5>
						<%= f.label :lundi %>	
						<%= f.collection_check_boxes :lundi, (9..22).to_a , :to_s, :to_s %>
					 	<br>

						<%= f.label :mardi %>	
						<%= f.collection_check_boxes :mardi, (9..22).to_a , :to_s, :to_s %>
						<br>

						<%= f.label :mercredi %>	
						<%= f.collection_check_boxes :mercredi, (9..22).to_a , :to_s, :to_s %>
						<br>

						<%= f.label :jeudi %>	
						<%= f.collection_check_boxes :jeudi, (9..22).to_a , :to_s, :to_s %>
						<br>

						<%= f.label :vendredi %>	
						<%= f.collection_check_boxes :vendredi, (9..22).to_a , :to_s, :to_s %>
						<br>

						<%= f.label :samedi %>	
						<%= f.collection_check_boxes :samedi, (9..22).to_a , :to_s, :to_s %>
						<br>

						<%= f.label :dimanche %>	
						<%= f.collection_check_boxes :dimanche, (9..22).to_a , :to_s, :to_s %>
	
		</div>
		
		<div class="form-group">
			<%= f.label :moto, "Votre devise" %>
			<br>
			<%= f.text_field :moto, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :study_domain, "Domaine d'étude" %>
			<br>
			<%= f.text_field :study_domain, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :high_school, "Nom du Lycée" %>
			<br>
			<%= f.text_field :high_school, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :looking_job, "Postes visés" %>
			<br>
			<%= f.text_field :looking_job, class: "form-control" %>
		</div>

		<div class="form-group">
						<%= f.label :bac_type, "Bac" %>
						<br>
						<%= f.select :bac_type, $BAC_TYPE , :class => "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :bac_mention, "Mention au bac" %>
			<br>
			<%= f.select :bac_mention,$BAC_MENTIONS , :class => "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :study_level, "Années d'études" %>
			<br>
			<%= f.select :study_level, $STUDY_LEVEL , :class => "form-control" %>
		</div>

    <div class="form-group">
			<%= f.label :etablissement, "Votre établissement actuel" %>
			<br>
			<%= f.text_field :etablissement, :class => "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :study_financing, "Financement" %>
			<br>
			<%= f.text_field :study_financing, class: "form-control" %>
		</div>
		
	

		<div class="form-group">
			<%= f.label :image_url, "Photo du conseiller" %>
			<br>
			<%= f.file_field :image_url, class: "form-control"  %>

		</div>
		<div class="form-group">
			<%= f.label :address, "Votre adresse:" %>
			<br>
			<%= f.text_area :address, class: "form-control" %>
		</div>

	</div>
</section>

<section class="about section">
	<div class="section-inner">
		<h2 class="page-header">Description détaillées</h2>

		<div class="form-group">
			<%= f.label :general_description, "Description générale" %>
			<br>
			<%= f.text_area :general_description, class: "form-control summernote" %>
		</div>

		<div class="form-group">
			<%= f.label :school_description, "Qui j'étais en Terminale ?" %>
			<br>
			<%= f.text_area :school_description, class: "form-control summernote" %>
		</div>

		<div class="form-group">
			<%= f.label :jobs_description, "Mon parcours académique jusqu'içi"  %>
			<br>
			<%= f.text_area :jobs_description , class: "form-control summernote" %>
		</div>

		<div class="form-group">
			<%= f.label :availibility_description, "Ce à quoi je me destine"  %>
			<br>
			<%= f.text_area :availibility_description , class: "form-control summernote" %>
		</div>

		<div class="form-group">
			<%= f.label :approved_by_administrator %>
			<br>
			<%= f.check_box :approved_by_administrator, class: "form-control" %>
		</div>
	</div>
</section>

<section class="about section">
	<div class="section-inner">

		<h2 class="page-header">Réseaux sociaux</h2>
		<div class="form-group">
			<%= f.label :facebook_url, "Url Facebook" %>
			<br>
			<%= f.text_field :facebook_url, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :twitter_url, "Url Twitter" %>
			<br>
			<%= f.text_field :twitter_url, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :linkedin_url, "Url Linkedin" %>
			<br>
			<%= f.text_field :linkedin_url, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :google_plus_url, "Url Google +" %>
			<br>
			<%= f.text_field :google_plus_url, class: "form-control" %>
		</div>

	</div>
</section>
		<div class="form-group text-center">
			<%= f.submit "Mettre à jour le profil", class: "btn btn-success btn-lg" %>
		</div>
		<% end %>
	</div>
</section>

<script type="text/javascript">
		$(function() {

    var etablissements = <%= Etablissement.all_etablissement_name %> ;   

		$('#counselor_etablissement').autocomplete({
      source: etablissements
		});
	$(function() {

	
		$('.summernote').summernote({
			height : 300, // set editor height

			minHeight : null, // set minimum height of editor
			maxHeight : null // set maximum height of editor

		});
				
	}); 
</script>

