<div class="row">
	<a name="about"></a>
	<div class="intro-header">
		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1 class="text-uppercase color-white">La Voie de ton choix</h1>
						<h3 class="color-white">Des conseils pour bien s'orienter en toute simplicité.Echangez avec des étudiants qui connaissent les formations pour profiter de leur vécu</h3>
						<hr class="intro-divider">
						<ul class="list-inline intro-social-buttons">
							<li>
								<a href="#" class="btn btn-primary btn-lg"><span class="network-name">Mode d'emploi</span></a>
							</li>

						</ul>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>

</div>

<div class="row bg-white">
	<div class="container marketing">

		<div class="col-md-12 text-center">

			<h2 class="text-center text-uppercase color-green">Qu'est ce que Study Advisor ?</h2>
			<br / >
			<div class="col-lg-4">
				<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
				<h3 class="color-orange">Heading</h3>
				<p>
					Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
				</p>
				<p>
					<a class="btn btn-default" href="#" role="button">View details »</a>
				</p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
				<h3 class="color-orange">Heading</h3>
				<p>
					Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
				</p>
				<p>
					<a class="btn btn-default" href="#" role="button">View details »</a>
				</p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
				<h3 class="color-orange">Heading</h3>
				<p>
					Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
				</p>
				<p>
					<a class="btn btn-default" href="#" role="button">View details »</a>
				</p>
			</div><!-- /.col-lg-4 -->
		</div>

	</div>
</div>

<div class="row marketing bg-green">
	<h2 class="color-white text-uppercase text-center">Les questions les plus fréquentes</h2>
	<div class="col-md-12 text-center">
		<div class="col-md-4">
			<div class="color-white">
				Quelle école choisir dans le domaine d'acitivité désiré ?
			</div>
			<div>
				<%= link_to "Voir", "#", class: "btn btn-orange btn-sm text-uppercase"%>
			</div>
		</div>
		<div class="col-md-4">
			<div class="color-white">
				Quelle école choisir dans le domaine d'acitivité désiré ?
			</div>
			<div>
				<%= link_to "Voir", "#", class: "btn btn-orange btn-sm text-uppercase"%>
			</div>
		</div>
		<div class="col-md-4">
			<div class="color-white">
				Quelle école choisir dans le domaine d'acitivité désiré ?
			</div>
			<div>
				<%= link_to "Voir", "#", class: "btn btn-orange btn-sm text-uppercase"%>
			</div>
		</div>
	
	</div>
	
	<div class="col-md-12 text-center margin-top-10">
		<div class="col-md-4">
			<div class="color-white">
				Quelle école choisir dans le domaine d'acitivité désiré ?
			</div>
			<div>
				<%= link_to "Voir", "#", class: "btn btn-orange btn-sm text-uppercase"%>
			</div>
		</div>
		<div class="col-md-4">
			<div class="color-white">
				Quelle école choisir dans le domaine d'acitivité désiré ?
			</div>
			<div>
				<%= link_to "Voir", "#", class: "btn btn-orange btn-sm text-uppercase"%>
			</div>
		</div>
		<div class="col-md-4">
			<div class="color-white">
				Quelle école choisir dans le domaine d'acitivité désiré ?
			</div>
			<div>
				<%= link_to "Voir", "#", class: "btn btn-orange btn-sm text-uppercase"%>
			</div>
		</div>
	</div>
</div>

<div class="row marketing bg-white">
	<h2 class="color-green text-uppercase text-center">Nos tops advisors !</h2>
	</div>
