<div class="row">
	<a name="about"></a>
	<div class="intro-header">
		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1 class="text-uppercase color-white studyquizz-title-main">Choisis ta nouvelle vie après le bac</h1>
						<h3 class="color-white studyquizz-search-filiere">La 1ère plateforme d'orientation qui te met en relation avec l'étudiant de la filière de ton choix pour avoir de <u>vraies</u> réponses à tes questions.</h3>

						<h3 class="text-uppercase color-white">Une filière d'études en tête ?</h3>

						<%= render partial: 'home/dropdown_menu' %>

					</div>
				</div>
			</div>
		
		</div>
		<!-- /.container -->
	</div>	
</div>


<%= render partial:'marketing_info' %>

<div class="row marketing studyquizz-theme">
	<h2 class="color-white text-uppercase text-center studyquizz-faq">Les questions les plus fréquentes</h2>
	
	<div class="col-md-12 text-center">
		<div class="col-md-4">
			<div class="color-white">
				Sciences Pô ou Prépa, je ne sais pas quoi choisir !?
			</div>
		</div>
		<div class="col-md-4">
			<div class="color-white">
				Je veux devenir riche... quelle filière choisir ?
			</div>
		</div>
		<div class="col-md-4">
			<div class="color-white">
				Quelle école choisir de commerce pour s'assurer d'un emploi à la sortie ?
			</div>
		</div>
	</div>
	
	<div class="col-md-12 text-center margin-top-10 margin-bottom-10">
		<div class="col-md-4">
			<div class="color-white">
				Je veux participer au développement de GTA VI, quelle école choisir ?
			</div>
		</div>
		<div class="col-md-4">
			<div class="color-white">
				La Jungle des BTS: comment s'y retrouver ?
			</div>
		</div>
		<div class="col-md-4">
			<div class="color-white">
				Je suis en Term, et aucune idée de quoi faire l'année prochaine... l'enfer.
			</div>
		</div>
	</div>

	<div class="centered text-center">


		<h3 class="text-uppercase color-white margin-bottom-10 margin-top-faq">Une filière d'études en tête ?</h3>


		<%= render partial:"home/dropdown_menu" %>

	</div>

</div>

<div class="row marketing bg-white">
	<h2 class="color-green text-uppercase text-center">Nos top advisors</h2>

	<div class="row">
		<% @counselors.each do |c| %>
		<div class="col-md-4">
			<%= render partial: "counselors/counselor_card", locals:{counselor: c} %>
		</div>
		<% end %>
	</div>
</div>

<div class="row studyquizz-theme">
	<div class="container marketing">

		<div class="col-md-12 text-center">

			<h2 class="text-center text-uppercase color-white">Study Advisor: Qui de mieux qu'un étudiant pour répondre à vos questions d'orientation ?</h2>
			<br / >
			<div class="col-lg-4">

				<%= image_tag("pictogramme-FREE.png", size: "140x140", alt: "Generic placeholder image") %>
				<h3 class="color-white">Gratuit</h3>
				<p class="color-white">Il n'y a rien a payer pour bien s'orienter. Pas même l'appel puisqu'il est pris en charge par nos Advisors, soigneusement sélectionnés.</p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4">

				<%= image_tag("Pictogramme-Bonhomme.png", size: "140x140", alt: "Generic placeholder image") %>

				<h3 class="color-white">Personnalisé</h3>
				<p class="color-white">Vous choisissez le profil qui vous correspond. Vous précisez quand vous faire rappeler. Vous posez des questions.</p>

			</div><!-- /.col-lg-4 -->

			<div class="col-lg-4">

				<%= image_tag("Pictogramme-doigts.png", size: "140x140", alt: "Generic placeholder image") %>
				<h3 class="color-white">Simple</h3>
				<p class="color-white">Donnez vos disponibilités et faites vous rappeler pour bénéficier d'une discussion de qualité le parcours visé.</p>
			</div><!-- /.col-lg-4 -->

		</div>

	</div>
</div>

<div class="row bg-white">
	<div class="col-md-12">

		<%= render partial:'testimonies_carrousel' %>

		<div class="row marketing studyquizz-theme">
			<%= render partial: 'press_marketing' %>	
		</div>

	</div>
</div>
