<div class="school-card bg-white text-left col-md-12">
	<div class="col-md-3">
		<%= image_tag school.avatar, :class => "profile-image img-responsive pull-left", :alt => "Job image", :style => "max-width: 300px; width: 100%;"%>
                <h5>Nombre d'advisors:</h5>
	</div>
	<div class="col-md-4">
		<h2><%= link_to school.name, school %></h2>
		<div>
			<strong class="text-uppercase">Formations proposées</strong>
			<p>
				<%= school.programs.pluck(:name).join(', ')%>
			</p>
		</div>
		<div>
			<strong class="text-uppercase">Nombre d'étudiants</strong>
			<p>
				<%= school.student_number%>
			</p>
		</div>
		<div>
			<strong class="text-uppercase">Localisation</strong>
			<p>
				<%= school.address%>
			</p>
		</div>
                <%= link_to "Voir la fiche école", school_path(school.id), class:"btn btn-lg center" %>

	</div>
	<div class="col-md-5">
                <p class="school-description"><%= school.description.html_safe %></p>
	</div>

</div>
