<%= render partial: "schools/presentation/school_header", locals:{ school: @school, description: "Liste des programmes proposés par l'Ecole"}%>

<div class="container sections-wrapper">
	<div class="row">
		<div class="primary col-md-12 col-sm-12 col-xs-12">
			<% @school.programs.each do |program| %>
			<section class="about section">
				<div class="section-inner">

					<div class="content">

						<div class="item row">
							<a class="col-md-4 col-sm-4 col-xs-12" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank"> <img class="img-responsive project-image" src="<%= program.try(:image_url) %>" alt="project name" /> </a>
							<div class="desc col-md-8 col-sm-8 col-xs-12">
								<h3 class="title"><%= link_to program.name, program %></h3>
								<p>
									<%= program.description %>
								</p>
								<p>
									<a class="more-link" href="<%= program.program_url %>" target="_blank"><i class="fa fa-external-link"></i> Program website</a>
								</p>
							</div><!--//desc-->
						</div><!--//item-->

					</div>
				</div>
			</section>
			<% end %>
		</div>
	</div>
</div>

