<%= form_for(@card) do |f| %>
<% if @card.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

	<ul>
		<% @card.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div>
	<h3>Conseiller: <%= current_counselor.full_name%></h3>
	<br />
</div>
<div class="form-group">
	<%= f.label :appointment_datetime %>
	<br>
	<%= f.datetime_select :appointment_datetime, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :comment_text, "Commentaires généraux" %>
	<br>
	<%= f.text_area :comment_text, :class => "form-control summernote" %>
</div>
<div class="form-group">
	<%= f.label :avaibility_text, "Disponibilités de l'Etudiant pour le rappeler" %>
	<br>
	<%= f.text_area :avaibility_text, :class => "form-control summernote" %>
</div>

<% f.hidden_field :student_id, :value => @student.id %>
<% f.hidden_field :counselor_id, :value => current_counselor.id %>

<div class="form-group text-center">
	<%= f.submit "Créer la carte d'orientation", class: "btn btn-success btn-lg" %>
</div>
<% end %>

<script>
	$(function() {
		$('.summernote').summernote({
			height : 300, // set editor height

			minHeight : null, // set minimum height of editor
			maxHeight : null // set maximum height of editor

		});
	})
</script>
