<h1>Listing cards</h1>

<table>
  <thead>
    <tr>
      <th>Appointment datetime</th>
      <th>Comment text</th>
      <th>Avaibility text</th>
      <th>Student</th>
      <th>Counselor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.appointment_datetime %></td>
        <td><%= card.comment_text %></td>
        <td><%= card.avaibility_text %></td>
        <td><%= card.student %></td>
        <td><%= card.counselor %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
