<%= render partial: "counselors/presentation/counselor_header", locals:{counselor: @counselor, description: "Nouveau rendez-vous" } %>

<div class="container sections-wrapper">
	<div class="row">
		<div class="primary col-md-12 col-sm-12 col-xs-12">
			<section class="about section">
				<div class="section-inner">
					<h2>Disponibilités du conseiller</h2>
					<%= @counselor.availibility_description.to_s.html_safe%>
							<h4>Mes disponibilités</h4>

							<h5>Lundi</h5>
							<%= show_my_day_availabilities(@counselor.lundi) %>

							<h5>Mardi</h5>
							<%= show_my_day_availabilities(@counselor.mardi) %>

							<h5>Mercredi</h5>
							<%= show_my_day_availabilities(@counselor.mercredi) %>

							<h5>Jeudi</h5>
							<%= show_my_day_availabilities(@counselor.jeudi) %>

							<h5>Vendredi</h5>
							<%= show_my_day_availabilities(@counselor.vendredi) %>

							<h5>Samedi</h5>
							<%= show_my_day_availabilities(@counselor.samedi) %>

							<h5>Dimanche</h5>
							<%= show_my_day_availabilities(@counselor.dimanche) %>

				</div>
			</section>
		</div>
		
		<div class="primary col-md-12 col-sm-12 col-xs-12">
			<%= render 'form' %>
		</div>
	</div>
</div>



<%# link_to 'Back', counselor_appointments_path(@counselor) %>
