<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "Study Counselor" %></title>
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Conseils d'orientation par des élèves pour des élèves" %>">
<%= favicon_link_tag 'favicon.ico' %>

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="<%= t '.website_title' %>">
<meta itemprop="description" content="<%= t '.website_description' %>">
<meta name="keywords" lang="fr" content="<%= I18n.t 'website_keywords', locale: :fr %>">
<meta itemprop="image" content="http://www.nadvence-beta.com/assets/nadvence-share.png">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@rebble_it">
<meta name="twitter:title" content="<%= content_for?(:title) ? yield(:title) : "Study Counselor" %>">
<meta name="twitter:description" content="<%= content_for?(:description) ? yield(:description) : "Conseils d'orientation par des élèves pour des élèves" %>">
<meta name="twitter:image" content="http://www.nadvence-beta.com/assets/nadvence-share.png">
<meta name="twitter:domain" content="<%= t '.website_url' %>">/>

<!-- Open Graph data -->
<meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : "Study Counselor" %>" />
<meta property="og:type" content="website" />
<meta property="og:url" content="<%= t '.website_url' %>" />
<meta property="og:image" content="http://www.nadvence-beta.com/assets/nadvence-share.png" />
<meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : "Conseils d'orientation par des élèves pour des élèves" %>" />
<meta property="og:site_name" content="<%= content_for?(:title) ? yield(:title) : "Study Counselor" %>" />

<!-- Google plus author -->
<link rel="publisher" href="https://plus.google.com/+RebbleIt"/>

